{{ define "main" }}
<h1 class="page-title journal-title">Log</h1>
<article class="markdown book-post">
  <p class="main-summary">
    {{ partial "docs/summary.html" . }}
  </p>
</article>

  {{ range sort .Paginator.Pages }}
  <article class="markdown book-post">
    <h2 class="post-title">
      <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}
    <p class="post-summary">
      {{- .Content -}}
    </p>
  </article>
  {{ end }}

  {{ template "_internal/pagination.html" . }}
{{ end }}

