{{ define "main" }}
<header class="main-header">
  <div class="content">
      <h1 class="page-title">Hello there.</h1>
  </div>  
</header>
<p class="main-summary">
  I'm Joshua. This is a (fairly expansive) wiki that encompasses my <a href="/personal">personal</a> and <a href="/professional">professional</a> life as a founder, multidisciplinary designer, artist, author, and curious human. Welcome.
</p>
<article class="markdown">
  {{ partial "docs/post-meta" . }}
  {{- .Content -}}
</article>
{{ end }}