$mono: "PT Mono", monospace;
$primary: "PT Sans", "Bahnschrift", "pt_sansregular", sans-serif;
$bold: "PT Sans Bold", "Bahnschrift", "pt_sansbold", sans-serif;
$okkult: "Okkult-Black", sans-serif;

article {
	margin-bottom: 2rem !important;
	aside { 
		background: #fff000; padding: 10px; color: #033233;
	}
}
body {
  	font-family: $primary;
  	font-weight: normal;
  	font-style: normal;
}
h1 {
  font-family: $okkult;
  font-weight: 900;
	font-size: 3.33rem;
		@media (min-width: 500px) {
			font-size: 4rem;
	}
}
h2, h3, h4, h5, h6 {
	font-family: $bold;
	font-weight: bold;
}
p {
 	margin-top: 0;
 	line-height: 166% !important;
}
code {
  font-family: $mono;
}
figcaption {
	text-align: center;
	padding: .25rem;
	font-size: $font-size-14;
	font-style: italic;
	line-height: 133%;
}
blockquote {
	font-size: 18px;
	padding: 20px !important;
	border: solid 1px var(--color-link) !important;
  box-shadow: 15px 15px 0 0 var(--color-link);
  margin-bottom: 24px !important;
}
dt {
	margin-bottom: -24px !important;
}
a[target="_blank"]{
	&:after {
	content: " ⇢"; 
	}
}
.book-menu a:hover{
		color: var(--color-link);
		text-decoration: underline;
}
.book-menu-content {
	border-right: 1px solid;
	border-color: var(--border-color);
}

.post-summary {
	margin-top: 0 !important;
}

@media screen and (min-width: 500px) {

// #Home .book-brand {
// 	display: none !important;
// }
}
.book-brand {
	font-family: $okkult;
	a {
		text-decoration: none;
		&:hover{ 
			text-decoration: none;
		}
	}
}
.book-btn {
	margin-bottom: 12px;
	color: var(--color-link);
	background: none;
		&:hover {
			background: var(--color-link);
			color: var(--body-background) !important;
			}
	&.filled {
		background: var(--color-link);
		color: var(--body-background) !important;
		&:hover {
			background: var(--body-background);
			color: var(--color-link) !important;
		}
	}
}
.main-header {
	display: block;
	align-items: center;
	gap: 1rem;
	align-items: flex-start;
		img {
			height: 6rem;
		}
		h1 {
			margin-bottom: 0;
			font-size: 3.5rem;
		}
		@media (min-width: 500px) {
		display: flex;
			h1{
				font-size: 4rem;
			}
			img {
				height: 8rem;
			}
		}
}
.main-summary {
	// margin-top: 1rem;
	font-size: 20px;
	line-height: 140% !important;
	@media (min-width: 500px) {
			font-size: 24px;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
}
.art-summary {
	margin-top: 4px !important;
	margin-bottom: 8px;
	line-height: 140% !important;
}
.tags {
		font-family: $mono;
	ul{
		border-top: 1px solid var(--gray-500);
		padding-top: .33rem;
	}
	h5, ul, li {
	display: inline;
	font-size: .667rem;
	padding-left: 0;
		li {
    &:after{
    	content: ", ";
    }
    &:last-child:after{
    	content: "";
    }
		}
	}
}
.page-title {
	margin-top: 0 !important;
	line-height: 1.0;
	padding-bottom: .75rem;
}
.post-title, .art-title, article h2 {
	margin-bottom: 8px !important;
}
.journal-title {
	margin-bottom: 0;
}
.art-title p{
	margin-bottom: 8px;
}
.active a{
	border: 1px solid var(--color-link);
	}
.page-item a{ 
	text-decoration: none;
	&:hover{
	text-decoration: underline;
	}
}
.navigation-layout {
	display: flex;
}
.feature-block{
	font-size: 18px;
	padding: 20px !important;
	border: solid 1px var(--color-link) !important;
  box-shadow: 15px 15px 0 0 var(--color-link);
  margin-bottom: 24px !important;
  h2 {
  margin-top: 8px;
  }
}
.page-nav {
	margin-top: 5rem;
	border-top: 1px solid var(--gray-500);
	ul{
		display: block;
	}
	li {
		margin-bottom: 1rem;
	}
	a {
		text-decoration: none;
		padding-left: 0 !important;
	}
}
.post-date {
	margin: 1rem 0 !important;
	font-family: $mono;
	font-size: 12px;
	font-weight: normal !important;
	letter-spacing: 0 !important;
		a{
			text-decoration: none;
			&:hover{
			text-decoration: underline;
			}
		}
}
.meta {
	padding-left: 0;
	font-size: .667rem;
	color: var(--gray-500);
	font-family: $mono;
	li {
		display: block;
		margin-bottom: .75rem;
		@media screen and (min-width: 500px) {
			display: inline;
		&::after {
			content: " • ";
		}
		&:last-child:after {
				content: "";
			}
		}
	}
	.bottomline {
		display: inline !important;
		&::after {
			content: " • ";
		}
		&:last-child:after {
				content: "";
			}
	}
	a{
	text-decoration: none;	
	}
}
.seperator {
	border-color: var(--border-color);
	margin-bottom: 2rem;
}