/* You can add custom styles here. */

// @import "plugins/numbered";
article aside { background: #fff000; padding: 10px; color: #033233}

figcaption h4 {margin:0 !important;}

.post-date {
	margin: 8px 0 16px 0 !important;
	font-family: 'pt_monoregular';
	font-size: 12px;
	font-weight: normal !important;
	letter-spacing: 0 !important;
}
.post-title, .page-title {
	margin-top: 0 !important;
	line-height: 1.0;
	padding-bottom: 8px;
}

h1 {
  font-family: "Okkult-Black";
  font-weight: 900;
}

@media (min-width: 500px) {
.page-title {
	font-size: 64px;
	margin-top: 0 !important;
	}
	article h1 {
	font-size: 64px;
}

}


h2, h3, h4, h5, h6 {
	font-family: "pt_sansbold";
}

body {
  	font-family: "pt_sansregular";
  	font-weight: 500;
  	font-style: normal;
  	p {
  		line-height: 130%;
  	}
}

code {
  font-family: 'Roboto Mono', monospace;
}

.book-post p{
	line-height: 130%;
}

.book-menu-content {
	border-right: 1px solid #3f3f3f;
	a{
		letter-spacing: 0;
	}
}

blockquote {

	font-size: 18px;
}

.book-menu ul * {
	letter-spacing: 0 !important;
/*	color: rgb(47, 214, 181);*/
	& a:hover{
		color: #6DDE00 !important;
		text-decoration: underline;
	}
}


.post-summary {
	margin-top: 0 !important;
}

.journal-title {
	margin-bottom: 18px;
}

blockquote.page-summary {
	margin-left: 0;
	margin-bottom: 24px;
	font-size: 24px;

}


.book-brand {
	font-family: "Okkult-Black";
}

.book-btn:hover {
	background: #6DDE00;
	color: #030303 !important;
}

.main-header {
	display: flex;
	align-items: center;
	gap: 12px;
// margin-bottom: 24px;
		@media (max-width: 500px) {
			font-size: 72px;
			flex-direction: column;
		}
	align-items: flex-start;
		.content {
			display: flex;
			flex-direction: column;
			gap: 4px;
				h1 {
					margin-bottom: 4px;
					border-bottom: 4px solid #6DDE00;
					font-size: 48px;
						@media (min-width: 500px) {
							font-size: 72px;
						}

				}
				p {
					margin-top: 0;
					font-family: "Okkult-Black";
					font-size: 24px;
						@media (min-width: 500px) {
							font-size: 24px;
						}

				}
		}
/*		.highlight {
				color: #6DDE00;

		}*/
}

.main-summary {
	margin-top: 0;
	font-size: 24px;
}

.art-summary {
	margin-top: 4px !important;
}

.art-title{
	margin-bottom: 8px !important;
	p{
	margin-bottom: 8px;
	}
}


.active a{
	background: #6DDE00;
	color: #000000;
	}

.page-item a:hover{
	text-decoration: underline;
}

.site-title {
display:none;
}

.site-brand {
	width: 100px !important;
	height: 100px !important;
}

.navigation-layout {
	display: flex;
}