@font-face {
    font-family: 'pt_monoregular';
    src: url('ptmono-regular-webfont.woff2') format('woff2'),
         url('ptmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Atlas Grotesk Web';
      src: local(''),
      url('AtlasGrotesk-Regular-Web.woff2') format('woff2'),
      url('AtlasGrotesk-Regular-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }

@font-face {
    font-family: 'Atlas Grotesk Web';
  font-display: swap;
  src: local(''),
  url('AtlasGrotesk-RegularItalic-Web.woff2') format('woff2'),
  url('AtlasGrotesk-RegularItalic-Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    }

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('AtlasGrotesk-Bold-Web.woff2') format('woff2'),
     url('AtlasGrotesk-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  }


@font-face {
  font-display: swap;
    src: local(''),
    url('RoslindaleVariableDisplayNormal[slnt,wght].woff2') format("woff2"),
    url('RoslindaleVariableDisplayNormal[slnt,wght].woff') format("woff");
  font-family: 'Roslindale Variable Display';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-display: swap;
  src: url('RoslindaleVariableText[slnt,wght].woff2') format("woff2"),
       url('RoslindaleVariableText[slnt,wght].woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: normal;
}